{% extends "profile_base/profile_base.html" %}
{% block header %} 
    <h2>Wallet</h2>
{% endblock %}

{% block profile_base %}

 
        <div class="container col-9 mx-auto mt-5">
            <div class="row mb-4">
                <!-- Wallet Balance Card -->
                <div class="col-md-4">
                    <div class="card shadow-sm">
                        <div class="card-body">
                            <h5 class="card-title">Wallet Balance</h5>
                            <h3 class="card-text">₹{{ balance }}</h3>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-12">
                    <!-- Transactions Card -->
                        <div class="card-header bg-white text-dark">
                            <h5 class="card-title">Transactions</h5>
                        </div>
                        <div class="card-body">
                            <div class="table-responsive">
                                <table class="table table-striped table-hover align-middle text-center">
                                    <thead class="table-dark">
                                        <tr>
                                            <th scope="col">Transaction ID</th>
                                            <th scope="col">Date</th>
                                            <th scope="col">Amount</th>
                                            <th scope="col">Message</th>
                                        </tr>
                                    </thead>


                                    <tbody>
                                        {% for transaction in transactions %}
                                        <tr>
                                            <td>{{ transaction.id }}</td>
                                            <td>{{ transaction.created_at|date:"M d, Y, h:i A" }}</td>
                                            <td>₹{{ transaction.Amount }}</td>
                                            <td>{{ transaction.message }}</td>
                                        </tr>
                                        {% endfor %}
                                    </tbody>


                                    
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>


{% endblock %}
