{% extends "base/base.html" %}

{% block base %}
<style>
    /* Basic styling for the form container */
    #variantForm {
        max-width: 600px;
        margin: 0 auto;
        padding: 20px;
        border: 1px solid #ddd;
        border-radius: 5px;
        background-color: #f9f9f9;
    }

    /* Styling for form elements */
    #variantForm label {
        display: block;
        margin-bottom: 8px;
        font-weight: bold;
    }

    #variantForm select,
    #variantForm input {
        width: 100%;
        padding: 10px;
        margin-bottom: 12px;
        border: 1px solid #ccc;
        border-radius: 4px;
    }

    #variantForm input[type="file"] {
        padding: 0;
    }

    /* Styling for the submit button */
    #submit-button {
        width: 100%;
        padding: 10px;
        border: none;
        border-radius: 4px;
        background-color: #007bff;
        color: #fff;
        font-size: 16px;
        cursor: pointer;
    }

    #submit-button:hover {
        background-color: #0056b3;
    }
</style>



<div class="container-fluid">
    <h4 class="page-title">Product Form</h4>
</div>

<div class="col-md-8 offset-md-2">
    
        <div class="card-header">
            <div class="container"><h1>Add New Category</h1></div>
        </div>
        <div class="card-body">


         {% for message in messages %}
        {% if message.tags %}
        <div class="alert alert-danger" role="alert">
          
               {{ message }}
               
            
          </div>

          
          {% endif %}
          {% endfor %}
            <form id="variantForm" method="POST" action="{% url 'Product:edit_category' category.id %}" enctype="multipart/form-data">
                {% csrf_token %}
            
                <!-- Product Name Field -->
                <label for="name">Category Name:</label>
                <input type="text" name="category_name" id="name" value="{{ category.name }}" placeholder="Category Name" required>
            
                <button type="submit" id="submit-button">Add Category</button>
            </form>
            </div>
        </div>
   
</div>
            {% endblock %}