{% extends "base/base.html" %}
{% block header %} <h2>Offers</h2>{% endblock %}

{% block base %}
<link rel='stylesheet' href='https://cdn-uicons.flaticon.com/2.5.1/uicons-regular-straight/css/uicons-regular-straight.css'>



<div class="container col-8 mt-5 mb-5">
           
    <div class="row">
        <div class="card">
            <div class="table-responsive">
                <table class="table">
                    <thead>
                        <tr>
                            <th>Offer ID</th>
                            <th>Brand Name</th>
                            <th>Offer</th>
                            <th>Discount</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for product in offers %}
                        <tr>
                            <td>{{ product.id }}</td>
                            <td>{{ product.brand_id.brand_name }} </td>
                            <td>
                                {{ product.offer_name }}
                            </td>
                           
                            <td>
                                {{product.offer_price}}%  Off
                            </td>
                            <td><a href = "{% url 'Offers:edit_brand_offer' product.id %}"><i class="fi fi-rs-edit"></i></a></td>
                            <td><a href = "{% url 'Offers:delete_offer' product.id %}"><span class="closeb">&#10005;</span></a></td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
            <div class="mt-3 mb-3">
                <a class="btn btn-outline-info" href="{% url 'Brands:brands_list' %}">Add New offer</a>
            </div>
        </div>
    </div>
</div>

{% endblock %}