{% extends "base/base.html" %}
{% block header %} 
<h2 class="text-center">Select An Option</h2>
{% endblock %}

{% block base %}
<div class="container d-flex justify-content-center align-items-center" style="height: 70vh;">
    <div class="row">
        <div class="col text-center">
            <!-- Navigate to the 'product_offers' view -->
            <a href="{% url 'Offers:product_offer' %}" class="btn essence-btn btn-primary mt-3 mb-3">Product Offers</a>
        </div>
        <div class="col text-center">
            <!-- Navigate to the 'brand_offers' view -->
            <a href="{% url 'Offers:brand_offer_list' %}" class="btn essence-btn btn-primary mt-3 mb-3">Brand Offers</a>
        </div>
    </div>
</div>
{% endblock %}
