{% extends "user_base/user_base.html" %}
{% block user_base %}
<style>
  a{
    color: rgb(10, 30, 249);
    font-size: medium;
    font-weight:bold;

  }

</style>
<div class="container " style="height: 50vh; display:flex; align-items:center; justify-content:center; flex-direction:column;" >
  <img src="\media\media\done2.png" alt="" style="margin-bottom: 20PX;">
  <h2>You're All Set!</h2>
  <p>Your password has been successfully changed. Please proceed to the <a style="font-weight:bold" href="{% url 'Accounts:user_login' %}">Login</a> page</p>
</div>
{% endblock %}