{% extends "profile_base/profile_base.html" %}
{% block header %} <h2>Change Password</h2>{% endblock %}
{% block profile_base %}
<form method="POST" action="{% url 'Accounts:set_password' %}">

    <div class="container">
        {% include 'alerts/alert.html' %}
        <div class="row">
            {% csrf_token %}
            <div class="row">

                <div class="col-12 mb-4">
                    <label for="email_address">New Password</label>
                    <input type="text" name="new_password" class="form-control" id="new_password" value="">
                </div>

                <div class="col-12 mb-4">
                    <label for="email_address">Confirm Password</label>
                    <input type="text" name="con_password" class="form-control" id="con_password" value="">
                </div>


            </div>
        </div>
    </div>

    <input type="submit" value="Confirm" class="btn essence-btn mt-3 mb-3">


</form>
{% endblock %}