{% extends "profile_base/profile_base.html" %}
{% load static %}
{% block header %} <h2>Orders</h2>{% endblock %}
{% block profile_base %}
<link rel="stylesheet" href="{% static 'path/to/font-awesome/css/font-awesome.min.css' %}">
<div class="col-md-9 mt-5 mb-3 mx-auto ">

{% for item in items %}
                <div class="card mt-2">
                    <div class="card-body">
                       <div class ="d-flex ">
                        <div class="mx-auto">
                        <i class="fa-solid fa-location-dot fa-sm" style="color: #ff0000;"></i> {{item.address_id.city}}
                        </div>
                        <div class="mx-auto">
                        
                         {{item.created_at}}
                        </div>
                        <div class="mx-auto">
                         
                        ₹ {{item.total_price}}
                        </div>
                        <div class="mx-auto">
                         
                         {{item.status}}
                        </div>
                       </div>
                        <div class="mt-3">
                            <a href="{% url 'Order:order_items' item.id %}" class="card-link">View All Orders</a>
                           
                        </div>
                    </div>
                </div>
                {% endfor %}
                
            </div>
{% endblock %}