{% extends "profile_base/profile_base.html" %}
 {% block header %} <h2>Profile</h2>{% endblock %}
{% block profile_base %}

<div class="profile-content d-flex flex-column justify-content-start  align-items-center mt-2">
        <hr>
                <form class=" user-form" action="{% url 'Users:edit_details'%}" method="POST">
                    {% csrf_token %}
                    <div class="input-group" style="width: 100%">
                        <label for="first-name">First Name</label>
                        <input type="text" id="first-name" placeholder=" Name" name="name" value="{{user_obj.first_name}}">
                    </div>
                    <div class="input-group" style="width: 100%">
                        <label for="last-name">Last Name</label>
                        <input type="text" id="last-name" placeholder="Last Name" name="lname" value="{{user_obj.last_name}}">
                    </div>
                    
                    <div class="input-group" style="width: 100%; display:none" >
                        <label for="email">Email</label>
                        <input type="email" id="email" placeholder="Email" value="{{user_obj.email}}">
                    </div>
                    <div class="input-group" style="width: 100%">
                        <label for="phone">Phone Number</label>
                        <input type="tel" id="phone" placeholder="+91" name="phone" value="{{user_obj.phone_no}}">
                    </div>
                    <button type="submit" href="{% url 'Users:edit_details' %}" class="edit-btn submit-btn vw-50">Edit</button>
                </form>
                <div class="mt-5">{% if user_obj.signup_method == 'default'%}<a href="{% url 'Accounts:change_password' %}"><h6>Change Password?</h6></a> {% endif %}
                    {% if user_obj.signup_method == 'google'%}<a href="{% url 'Accounts:set_password' %}"><h6>Set Password</h6></a> {% endif %}
                </div>
        </div>
{% endblock %}