{% extends "base/base.html" %}
{% block header %}<h2> Dash Board </h2> {% endblock %}
{% block base %}
<style>
    .card {
        border-radius: 5px;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);

    }
    .card-title {
        font-size: 1.5rem;
        font-weight: bold;
    }
    .card-icon {
        font-size: 2.5rem;
        color: #4caf50;

    }
    .card-text {
        font-size: 1.25rem;
        font-weight: bold;
    }
</style>


<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js"></script>

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-icons/1.10.0/font/bootstrap-icons.min.css">


<div class="container-fluid mt-4 ">
    <div class="row mx-2 d-flex justify-content-center">
        <div class="col-lg-4 col-md-6">
            <div class="card text-center">
                <div class="card-body">
                    <div class="row">
                        <div class="col-4">
                            <i class="bi bi-cash-stack card-icon"></i>
                        </div>
                        <div class="col-7">
                            <h5 class="card-title">Overall Sales</h5>
                            <p class="card-text">₹ {{total_sales}}</p> 
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-4 col-md-6">
            <div class="card text-center">
                <div class="card-body">
                    <div class="row">
                        <div class="col-4">
                            <i class="bi bi-bar-chart-line card-icon"></i>
                        </div>
                        <div class="col-7">
                            <h5 class="card-title">Orders Count</h5>
                            <p class="card-text">{{order_count}} Products</p> 
                        </div>
                    </div>
                </div>
            </div>
        </div>


    </div>
    <div class="container mt-5">
    <h2>Sales Dashboard</h2>
    <!-- Filters for selecting daily, weekly, etc. -->
    <div class="mb-3">
        <form method="get" id="filterForm">
            <select name="filter" id="filter" class="form-select" onchange="document.getElementById('filterForm').submit()">
                <option value="daily" {% if request.GET.filter == 'daily' %} selected {% endif %}>Daily</option>
                <option value="weekly" {% if request.GET.filter == 'weekly' %} selected {% endif %}>Weekly</option>
                <option value="monthly" {% if request.GET.filter == 'monthly' %} selected {% endif %}>Monthly</option>
                <option value="yearly" {% if request.GET.filter == 'yearly' %} selected {% endif %}>Yearly</option>
                <option value="custom" {% if request.GET.filter == 'custom' %} selected {% endif %}>Custom Date Range</option>
            </select>
        </form>
    </div>

    <!-- Date range picker for custom dates -->
    <div id="customDate" style="display: none;">
        <form method="get" id="customDateForm">
            <input type="hidden" name="filter" value="custom">
            <input type="date" name="start_date" required>
            <input type="date" name="end_date" required>
            <button type="submit" class="btn btn-primary">Apply</button>
        </form>
    </div>

    
    <!-- Chart for displaying sales data -->
    <canvas id="salesChart" style=" height: 50vh; width: 80%;"></canvas>

</div>

<div class="container mt-5">
    <div class="card shadow">
        <div class="card-header bg-white border-bottom-0">
            <h5 class="card-title mb-0">
                <span class="fw-bold text-primary">Top Selling</span>
                <span class="text-muted"> | Product</span>
            </h5>
        </div>
        <div class="card-body">
            <div class="table-responsive">
                <table class="table table-hover">
                    <thead>
                        <tr>
                            <th scope="col">Preview</th>
                            <th scope="col">Product</th>
                            <th scope="col" class="text-end">Price</th>
                            <th scope="col" class="text-end">Sold</th>
                            
                        </tr>
                    </thead>
                    <tbody>
                        {% for product in top_products %}
                        <tr>
                            <td>
                                <img src="{{ product.image1.url }}" alt="Product Image" class="img-fluid" style="width: 60px; height: auto;">
                            </td>
                            <td>
                                <span class="text-primary">{{product.p_id.name}}</span>
                            </td>
                            <td class="text-end">₹{{product.price}}</td>
                            <td class="text-end">{{product.total_sold}}</td>
                           
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
<div class="container mt-5">
    <div class="row">
        <!-- Top 10 Selling Brands -->
        <div class="col-12 col-lg-6 mb-4">
            <div class="card shadow h-100">
                <div class="card-header bg-white border-bottom-0">
                    <h5 class="card-title mb-0">
                        <span class="fw-bold text-primary">Top Selling </span>
                        <span class="text-muted"> | Brands</span>
                    </h5>
                </div>
                <div class="card-body">
                    <div class="table-responsive">
                        <table class="table table-hover">
                            <thead>
                                <tr>
                                    <th scope="col">Brand</th>
                                    <th scope="col" class="text-end">Total Sold</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for brand in top_brands %}
                                <tr>
                                    <td>
                                        <span class="text-primary">{{brand.brand_name}}</span>
                                    </td>
                                    <td class="text-end">{{brand.total_quantity}}</td>
                                </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>

        <!-- Top 10 Selling Categories -->
        <div class="col-12 col-lg-6 mb-4">
            <div class="card shadow h-100">
                <div class="card-header bg-white border-bottom-0">
                    <h5 class="card-title mb-0">
                        <span class="fw-bold text-primary">Top Selling </span>
                        <span class="text-muted"> | Categories</span>
                    </h5>
                </div>
                <div class="card-body">
                    <div class="table-responsive">
                        <table class="table table-hover">
                            <thead>
                                <tr>
                                    <th scope="col">Category</th>
                                    <th scope="col" class="text-end">Total Sold</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for category in top_categories %}
                                <tr>
                                    <td>
                                        <span class="text-primary">{{category.name}}</span>
                                    </td>
                                    <td class="text-end">{{category.total_quantity}}</td>
                                </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


</div>


<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>

<script>
    // Show custom date range picker if 'Custom' filter is selected
    document.getElementById('filter').addEventListener('change', function() {
        if (this.value === 'custom') {
            document.getElementById('customDate').style.display = 'block';
        } else {
            document.getElementById('customDate').style.display = 'none';
        }
    });

    // Data from Django context (sales data for the graph)
    var salesData = JSON.parse('{{ sales_data|safe }}');

    // Preparing data for Chart.js
    var labels = salesData.map(item => item.created_at__date);
    var totalSales = salesData.map(item => item.total_sales);
    
    // Creating the chart
    var ctx = document.getElementById('salesChart').getContext('2d');
    var salesChart = new Chart(ctx, {
        type: 'line',  // You can change this to 'bar', 'pie', etc.
        data: {
            labels: labels,
            datasets: [{
                label: 'Total Sales',
                data: totalSales,
                backgroundColor: 'rgba(75, 192, 192, 0.2)',
                borderColor: 'rgba(75, 192, 192, 1)',
                borderWidth: 1
            }]
        },
        options: {
            scales: {
                y: {
                    beginAtZero: true
                }
            }
        }
    });
</script>
{% endblock %}