{% extends "base/base.html" %}
{% block header %} <h2 class="text-center my-4">Add New Coupon</h2> {% endblock %}
{% block base %}
<!-- Bootstrap CSS -->
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">

<div class="main-panel container-fluid px-4 mt-5 mb-5">
    <div class="row row-cols-1 row-cols-md-3 g-4 mb-4">
        <div class="col">
            <div class="card h-100 shadow-sm">
                <div class="card-body">
                    <h5 class="card-title">Total Sales:</h5>
                    <h3 class="card-text"> ₹ {{total_sales}}</h3>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card h-100 shadow-sm">
                <div class="card-body">
                    <h5 class="card-title">Total Orders: </h5>
                    <h3 class="card-text">{{total_order}}</h3>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card h-100 shadow-sm">
                <div class="card-body">
                    <h5 class="card-title">Total Discount: </h5>
                    <h3 class="card-text">{{total_discount}}</h3>
                </div>
            </div>
        </div>
    </div>
    <div class="content">
        <div class="container-fluid">
            <div class="row">
                <div class="col-12">
                    <div class="card">
                        <div class="card-header">
                            <h5 class="card-title">All Orders</h5>
                        </div>

                        <div class="card-body">
                            <!-- Filter Form -->
                            <form method="get" action="" class="row g-3 mb-4">
                                <div class="col-md-6 col-lg-3">
                                    <label for="start_date" class="form-label">Start Date</label>
                                    <input type="date" class="form-control" id="start_date" name="start_date" value="{{ start_date }}">
                                </div>
                                <div class="col-md-6 col-lg-3">
                                    <label for="end_date" class="form-label">End Date</label>
                                    <input type="date" class="form-control" id="end_date" name="end_date" value="{{ end_date }}">
                                </div>
                                <div class="col-md-6 col-lg-3">
                                    <label for="filter_option" class="form-label">Filter Option</label>
                                    <select class="form-select" id="filter_option" name="filter_option">
                                        <option value="" selected>Select Filter</option>
                                        <option value="1_day" {% if filter_option == '1_day' %}selected{% endif %}>Last 1 Day</option>
                                        <option value="1_week" {% if filter_option == '1_week' %}selected{% endif %}>Last 1 Week</option>
                                        <option value="1_month" {% if filter_option == '1_month' %}selected{% endif %}>Last 1 Month</option>
                                    </select>
                                </div>
                                <div class="col-md-6 col-lg-3 d-flex align-items-end">
                                    <button type="submit" class="btn btn-primary me-2">Filter</button>
                                    <!-- Button to download PDF -->
                                    <a href="?download=pdf&start_date={{ start_date }}&end_date={{ end_date }}&filter_option={{ filter_option }}" class="btn btn-success">Download PDF</a>
                                </div>
                            </form>
                            
                            <!-- End Filter Form -->

                            <!-- Orders Table -->
                            <div class="table-responsive">
                                <table class="table table-striped table-hover align-middle text-center">
                                    <thead class="table-dark">
                                        <tr>
                                            <th scope="col">Order ID</th>
                                            <th scope="col">Name</th>
                                            <th scope="col">Product</th>
                                            <th scope="col">Image</th>
                                            <th scope="col">Quantity</th>
                                            <th scope="col">Price</th>
                                            <th scope="col">Status</th>
                                            <th scope="col">Action</th>
                                            <th scope="col">Requests</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        {% for order in orders %}
                                        <tr>
                                            <td>{{ order.id }}</td>
                                            <td>{{ order.order_id.address_id.name }}</td>
                                            <td>{{ order.product_id.p_id.name }}</td>
                                            <td>
                                                <div class="image-container">
                                                    <img src="{{ order.product_id.image1.url }}" alt="Product Image" class="img-fluid" style="max-width: 100px;">
                                                </div>
                                            </td>
                                            <td>{{ order.qty }}</td>
                                            <td>{{ order.total_price }}</td>
                                            <td>{{ order.status }}</td>
                                            <td>
                                                <form method="POST" action="{% url 'Order:order_status' order.id %}">
                                                    {% csrf_token %}
                                                    <div class="dropdown">
                                                        <button class="btn btn-primary dropdown-toggle" type="button" id="dropdownMenuButton-{{ order.id }}" data-bs-toggle="dropdown" aria-expanded="false">
                                                            Select Status
                                                        </button>
                                                        <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton-{{ order.id }}">
                                                            {% if order.status == "Order Cancelled !" or order.status == "Return Accepted" %}
                                                                <li><p class="dropdown-item">No Option Available</p></li>
                                                            {% else %}
                                                                {% if order.status == "Order Placed" %}
                                                                    <li><button class="dropdown-item" type="submit" name="status" value="Shipped">Shipped</button></li>
                                                                    <li><button class="dropdown-item" type="submit" name="status" value="Delivered">Delivered</button></li>
                                                                    <li><button class="dropdown-item" type="submit" name="status" value="Order Cancelled !">Cancel Order</button></li>
                                                                {% endif %}
                                                                {% if order.status == "Shipped" %}
                                                                    <li><button class="dropdown-item" type="submit" name="status" value="Delivered">Delivered</button></li>
                                                                    <li><button class="dropdown-item" type="submit" name="status" value="Order Cancelled !">Cancel Order</button></li>
                                                                {% endif %}
                                                                {% if order.status == "Delivered" or order.status == "Requested For Return" %}
                                                                    <li><button class="dropdown-item" type="submit" name="status" value="Return Accepted">Approve Return</button></li>
                                                                {% endif %}
                                                            {% endif %}
                                                        </ul>
                                                    </div>
                                                </form>
                                            </td>
                                            <td>
                                                <h6 class="text-danger">
                                                {{ order.message }}
                                                </h6>
                                            </td>
                                        </tr>
                                        {% endfor %}
                                    </tbody>
                                </table>
                            </div>
                            <!-- End Orders Table -->
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Bootstrap Bundle with Popper -->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.min.js"></script>
{% endblock %}