{% extends "user_base/user_base.html" %}
{% load static %}

{% block user_base %}
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>

<form method="GET" id="filter-form">
<div class="breadcumb_area bg-img" style="background-image: url({% static 'img/bg-img/breadcumb.jpg' %});">
        <div class="container h-100">
            <div class="row h-100 align-items-center">
                <div class="col-12">
                    <div class="page-title text-center">
                        <h2>Explore</h2>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- ##### Breadcumb Area End ##### -->

    <!-- ##### Shop Grid Area Start ##### -->
    <section class="shop_grid_area section-padding-80">
        <div class="container">
            <div class="row">
                <div class="col-12 col-md-4 col-lg-3">
                    <div class="shop_sidebar_area">

                        <!-- ##### Single Widget ##### -->
                        <div class="widget catagory mb-50">
                            <!-- Widget Title -->
                            <h6 class="widget-title mb-30">Catagories</h6>

                            <!--  Catagories  -->
                            <div class="catagories-menu">
                                <ul id="menu-content2" class="menu-content collapse show">
                                    <!-- Single Item -->
                              

                                        <ul class="sub-menu collapse show" id="clothing">
                                        {% for category in categories%}
                                            <li><a href="?category={{ category.id }}" name="category">{{ category.name }}</a></li>
                                         {% endfor %}   
                                        </ul>
                                        <ul>
                                        <a href=""><h6>Android</h6></a> <span><a href=""><h6>IOS</h6></a></span>

                                        </ul>

                                    </li>
                                    <!-- Single Item -->
                                    <!-- <li data-toggle="collapse" data-target="#shoes" class="collapsed">
                                        <a href="#">shoes</a>
                                        <ul class="sub-menu collapse" id="shoes">
                                            <li><a href="#">All</a></li>
                                            <li><a href="#">Bodysuits</a></li>
                                            <li><a href="#">Dresses</a></li>
                                            <li><a href="#">Hoodies &amp; Sweats</a></li>
                                            <li><a href="#">Jackets &amp; Coats</a></li>
                                            <li><a href="#">Jeans</a></li>
                                            <li><a href="#">Pants &amp; Leggings</a></li>
                                            <li><a href="#">Rompers &amp; Jumpsuits</a></li>
                                            <li><a href="#">Shirts &amp; Blouses</a></li>
                                            <li><a href="#">Shirts</a></li>
                                            <li><a href="#">Sweaters &amp; Knits</a></li>
                                        </ul>
                                    </li>  -->
                                    <!-- Single Item -->
                                    {% comment %} <li data-toggle="collapse" data-target="#accessories" class="collapsed">
                                        <a href="#">ADD SOON</a>
                                       <ul class="sub-menu collapse" id="accessories">
                                            <li><a href="#">All</a></li>
                                            <li><a href="#">Bodysuits</a></li>
                                            <li><a href="#">Dresses</a></li>
                                            <li><a href="#">Hoodies &amp; Sweats</a></li>
                                            <li><a href="#">Jackets &amp; Coats</a></li>
                                            <li><a href="#">Jeans</a></li>
                                            <li><a href="#">Pants &amp; Leggings</a></li>
                                            <li><a href="#">Rompers &amp; Jumpsuits</a></li>
                                            <li><a href="#">Shirts &amp; Blouses</a></li>
                                            <li><a href="#">Shirts</a></li>
                                            <li><a href="#">Sweaters &amp; Knits</a></li>
                                        </ul> {% endcomment %}
                                    </li>
                                </ul>
                            </div>
                        </div>

                        <!-- ##### Single Widget ##### -->
                        <!-- <div class="widget price mb-50"> -->
                            <!-- Widget Title -->
                            <!-- <h6 class="widget-title mb-30">Filter by</h6> -->
                            <!-- Widget Title 2 -->
                            <!-- <p class="widget-title2 mb-30">Price</p>

                            <div class="widget-desc">
                                <div class="slider-range">
                                    <div data-min="49" data-max="360" data-unit="$" class="slider-range-price ui-slider ui-slider-horizontal ui-widget ui-widget-content ui-corner-all" data-value-min="49" data-value-max="360" data-label-result="Range:">
                                        <div class="ui-slider-range ui-widget-header ui-corner-all"></div>
                                        <span class="ui-slider-handle ui-state-default ui-corner-all" tabindex="0"></span>
                                        <span class="ui-slider-handle ui-state-default ui-corner-all" tabindex="0"></span>
                                    </div>
                                    <div class="range-price">Range: $49.00 - $360.00</div>
                                </div>
                            </div>
                        </div> -->

                        {% comment %} <!-- ##### Single Widget ##### -->
                        <div class="widget color mb-50">
                            <!-- Widget Title 2 -->
                            <p class="widget-title2 mb-30">Color</p>
                            <div class="widget-desc">
                                <ul class="d-flex">
                                    <li><a href="#" class="color1"></a></li>
                                    <li><a href="#" class="color2"></a></li>
                                    <li><a href="#" class="color3"></a></li>
                                    <li><a href="#" class="color4"></a></li>
                                    <li><a href="#" class="color5"></a></li>
                                    <li><a href="#" class="color6"></a></li>
                                    <li><a href="#" class="color7"></a></li>
                                    <li><a href="#" class="color8"></a></li>
                                    <li><a href="#" class="color9"></a></li>
                                    <li><a href="#" class="color10"></a></li>
                                </ul>
                            </div>
                        </div> {% endcomment %}

                        <!-- ##### Single Widget ##### -->
                        <div class="widget brands mb-50">
                            <!-- Widget Title 2 -->
                            <p class="widget-title2 mb-30">Brands</p>
                            <div class="widget-desc">
                                <ul>
                                {% for brand in brands %}
                                    <li><a href="?brand={{brand.id}}">{{brand.brand_name}}</a></li>
                                  {% endfor %}  
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-12 col-md-8 col-lg-9">
                    <div class="shop_grid_product_area">
                        <div class="row">
                            <div class="col-12">
                                <div class="product-topbar d-flex align-items-center justify-content-between">
                                    <!-- Total Products -->
                                    <div class="total-products">
                                        <p><span>{{total}}</span> products found</p>
                                    </div>
                                    <!-- Sorting -->
                                    <div class="product-sorting d-flex">
                                        <p>Sort by:</p>
                                     
                                            <select name="select" id="sortByselect" onchange="this.form.submit()">
                                                <option value="new">Newest</option>
                                                <option value="high">Highest To Low</option>
                                                <option value="low">Low To High</option>
                                                <option value="a-z">A-Z</option>
                                                <option value="z-a">Z-A</option>
                                            </select>
                                            <input type="submit" class="d-none" value="">
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                        {% if not products %}
                                <h3>Currently no products available</h3>
                        {% endif %}
                        <div class="row">
                        {% for product in products%}
                            <!-- Single Product -->
                            <div class="col-12 col-sm-6 col-lg-4">
                                <div class="single-product-wrapper">
                                    <!-- Product Image -->
                                    <div class="product-img">
                                        <img src={{product.image1.url}} alt="">
                                        <!-- Hover Thumb -->
                                        {% comment %} <img class="hover-img" src={{product.image2.url}} alt=""> {% endcomment %}

                                        <!-- Product Badge -->
                                        {% if product.qty <= 0 %}
                                        <div class="product-badge offer-badge">
                                            <span>Out of Stock</span>
                                        </div>
                                        {% elif product.status == False or product.p_id.brand.status == False %}
                                        <div class="product-badge offer-badge">
                                            <span>Unavailable</span>
                                        </div>
                                        {% endif %}
                                        <!-- Favourite -->
                                        <div class="product-favourite">
                                            <a href="{% url 'Wishlist:add_wishlist' product.id %}" class="favme fa fa-heart"></a>
                                        </div>
                                    </div>

                                    <!-- Product Description -->
                                    <div class="product-description">
                                        <span>{{product.p_id.brand.brand_name}}</span>
                                        <a href="{% url 'Product:signle_product' product.id%}">
                                            <h6>{{product.p_id.name}} {{product.color}}</h6>
                                        </a>
                                        <p class="product-price"><span class="old-price">₹ 100000</span>₹ {{product.price}}</p>

                                         {% if product.qty > 0 %}
                                        <!-- Hover Content -->
                                        <div class="hover-content">
                                            <!-- Add to Cart -->
                                            {% if product.qty > 0 and product.status == True%}
                                            <div class="add-to-cart-btn">
                                                <button type="button" class="addToCartButton btn essence-btn" data-variant-id="{{ product.id }}">Add To Cart</button>
                                            </div>
                                            {% endif %}
                                        </div>
                                        {% endif %}
                                        {% if product.qty < 5  and product.qty > 0 %}
                                        <Span style="color: rgb(255, 0, 0);">Only {{product.qty}} left</span>
                                        {% endif %}
                                    </div>
                                </div>
                            </div>
                            

                         {% endfor %}

                          
                    <!-- Pagination -->
                    {% comment %} <nav aria-label="navigation">
                        <ul class="pagination mt-50 mb-70">
                            <li class="page-item"><a class="page-link" href="#"><i class="fa fa-angle-left"></i></a></li>
                            <li class="page-item"><a class="page-link" href="#">1</a></li>
                            <li class="page-item"><a class="page-link" href="#">2</a></li>
                            <li class="page-item"><a class="page-link" href="#">3</a></li>
                            <li class="page-item"><a class="page-link" href="#">...</a></li>
                            <li class="page-item"><a class="page-link" href="#">21</a></li>
                            <li class="page-item"><a class="page-link" href="#"><i class="fa fa-angle-right"></i></a></li>
                        </ul>
                    </nav>
                    {% endcomment %}
                </div>
            </div>
        </div>
    </section>
</form>

<script>
document.querySelectorAll('.addToCartButton').forEach(button => {
    button.addEventListener('click', function() {
        const variantId = this.getAttribute('data-variant-id');

        fetch('{% url "Cart:add_to_cart" %}', {
            method: 'POST',
            headers: {
                'Content-Type': 'application/x-www-form-urlencoded',
                'X-CSRFToken': getCookie('csrftoken') // Add CSRF token
            },
            body: new URLSearchParams({
                'variant_id': variantId
            })
        })
        .then(response => response.json())
        .then(data => {
            if (data.success) {
                Swal.fire({
                position: "center",
                icon: "success",
                title: data.message,
                showConfirmButton: false,
                timer: 1500,
            
                });
               
            
                  // Display success message
            } else {
                
                Swal.fire({
                position: "center",
                icon: "info",
                title: data.message,
                showConfirmButton: false,
                timer: 1500,
            });
             if (data.redirect) {
                    window.location.href = data.redirect; // Redirect to login if unauthenticated
                }
           
            }
        
        })

        .catch(error => {
            console.error('Error:', error);
        });
    });
});

// Function to get CSRF token from the cookies
function getCookie(name) {
    let cookieValue = null;
    if (document.cookie && document.cookie !== '') {
        const cookies = document.cookie.split(';');
        for (let i = 0; i < cookies.length; i++) {
            const cookie = cookies[i].trim();
            if (cookie.substring(0, name.length + 1) === (name + '=')) {
                cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                break;
            }
        }
    }
    return cookieValue;
}
</script>
<script>
    document.querySelectorAll('.favme').forEach(button => {
        button.addEventListener('click', function(event) {
            event.preventDefault(); // Prevent default link behavior
            const url = this.getAttribute('href');
    
            fetch(url, {
                method: 'GET',
                headers: {
                    'X-CSRFToken': getCookie('csrftoken') // Add CSRF token
                }
            })
            .then(response => response.json())
            .then(data => {
                if (data.success) {
                    Swal.fire({
                        position: 'center',
                        icon: 'success',
                        title: data.message,
                        showConfirmButton: false,
                        timer: 1500
                    });
                } else {
                    Swal.fire({
                        position: 'center',
                        icon: 'info',
                        title: data.message,
                        showConfirmButton: false,
                        timer: 1500
                    });
                }
            })
            .catch(error => {
                console.error('Error:', error);
            });
        });
    });
    
    // Function to get CSRF token from the cookies
    function getCookie(name) {
        let cookieValue = null;
        if (document.cookie && document.cookie !== '') {
            const cookies = document.cookie.split(';');
            for (let i = 0; i < cookies.length; i++) {
                const cookie = cookies[i].trim();
                if (cookie.substring(0, name.length + 1) === (name + '=')) {
                    cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                    break;
                }
            }
        }
        return cookieValue;
    }
    </script>
    
    {% endblock %}